body {
    background-color: #ffffff; 
    height: 960px;
    width: 100%;
}
.container{
    background-image: url(../img/image.png);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}
.login-container h2 {
    color: #c52020;
    margin-bottom: 1.5rem;
}
.form-control {
    border-radius: 5px;
}
.btn-login {
    background-color: #c52020;
    color: white;
    transition: 0.3s;
}
.btn-login:hover {
    background-color: #c52020;
}
.forgot{
    color: #c52020;
}